<div class="related">
  <h1 >{{ site.data.settings.related_posts }}</h1>
  {% assign listed_posts_urls = page.url | split: ' ' %}
  <ul class="related-posts">
    {% for tag in page.tags %}
      {% for mypost in site.tags[tag] limit:3 %}
        {% if listed_posts_urls contains mypost.url %}
        {% else %}
          <li>
            <h3>
              <div style="padding: 0.5em 1em;
              margin: 2em 0;
              color: #5d627b;
              background: white;
              box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22);">
              <a href="{{ site.github.url }}{{ mypost.url }}">
                {% if mypost.image and mypost.image contains 'assets/img/' %}
                <img height="170" width="250" alt="-" src="{{ site.github.url }}/{{ mypost.image }}">
                {% elsif mypost.image and mypost.image contains '/images/posts/' %}
                <img height="170" width="250" alt="-" src="{{ site.github.url }}{{ mypost.image }}">                
                {% elsif mypost.image != 'images/' %}
                <img height="170" width="250" alt="-" src="{{ site.github.url }}/assets/img/{{ mypost.image }}">
                {% endif %}
                <br>
                {{ mypost.title }}                  
                <!-- <i><font size="2">{{ mypost.url }}</font></i> -->
                <br>                
         <small>{{ mypost.date | date: "%B %-d, %Y" }}</small>                 
              </a>
              </div>
            </h3>
          </li>
          {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
